extends _layouts/base

block content
  div.relative.z2
    .ph2.pt5.mw7.center
      h1.f2.f1-sm.lh-solid.mb4.mw6.spacefarm Hey, this is spacefarm
      p.mw6.mb4 This is a paragraph about us and how much we love design. We have <a href="http://www.thecrazyones.agency" target="blank">this old site↗</a> and we’re making a new one. Below is some work and a space plant.

        each thing, name in site.data.projects.work
          h1.f4.lh-title.mb2 #{name}
          .row.mb3
            each stuff, chill in thing
              .col-12.col-sm-6.flex
                a.bg-fff.shadow.pa3.db.mb2.br1.states.relative.w-100(href="#{stuff.link}", target="_blank")
                  h2.f3.lh-title.mb1(class="#{stuff.color}") #{chill}
                  p.mb1 #{stuff.description}

    .tc
      p Drop us a line, we are very nice.
      a.btn.dib.bg-blue.fff.b.tc.ph3.pv2.br1.states(href="mailto:hello@spacefarm.digital") Contact

  svg.db.center.illustration(viewBox="0 0 2250 429")
    use(xlink:href="#demo")
