each thing, name in site.data.projects.work
  section.mb4
    h2.f5.lh-copy.fw6.mb3.bg-selection.dib.pv1.ph2 #{name}
    ul.row.mb3
      each stuff, chill in thing
        if (chill == "Mindfullness" || chill == "Getting stronger" || chill == "Designing with code" || chill == "A React layout library" || chill == "A color tool" || chill == "Growing bigger" )
          li.col-12.col-sm-6.flex
            .bg-fff.shadow.pa3.db.mb2.br1.relative.w-100
              h3.f4.lh-title.mb1(class="#{stuff.color}") #{chill}
              p.mb1 #{stuff.description}
        else
          li.col-12.col-sm-6.flex
            a.bg-fff.shadow.pa3.db.mb2.br1.states.relative.w-100(href="#{stuff.link}", target="_blank")
              h3.f4.lh-title.mb1(class="#{stuff.color}") #{chill}
              p.mb1 #{stuff.description}